# OS/editor
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# IDE
.vscode/
.idea/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
out/
coverage/

# Local scratch/cache
tmp/
.cache/
.dockerignore-local

# Helm artifacts
charts/**/*.tgz

# Local pulled chart
app-chart/

# Secrets
**/secrets*

# Logs
*.log
logs/
